asn1crypto==0.24.0
certifi==2018.1.18
chardet==3.0.4
cryptography==2.1.4
cupshelpers==1.0
dae==0.1
defer==1.0.6
entrypoints==0.2.3.post1
idna==2.6
jieba==0.39
keyring==12.2.1
keyrings.alt==3.0
notify2==0.3
olefile==0.45.1
onboard==1.4.1
pexpect==4.2.1
Pillow==5.1.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pygobject==3.28.2
pysmbc==1.0.15.6
python-apt==1.6.0
python-xlib==0.20
pyxdg==0.25
reportlab==3.4.0
requests==2.18.4
SecretStorage==2.3.1
six==1.11.0
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
urllib3==1.22
xkit==0.0.0
